venv/
__pycache__/
*.pyc
.env
*.env.ec2
*.crt
*.key
qrgenix/generator/qrcode_core/output/
qrgenix/scripts/docker_login.sh
qrgenix/scripts/trigger_jenkins.sh
create_github_issues.sh
create_github_labels.sh
.pytest_cache/
.vscode/
__archive__/
nginx/
docker-compose.local.yaml
ci/
